
.lighter-text {
  color: #fff;
}

.main-color-text {
  color: rgb(169, 218, 54);
}

.badge {
  background-color: #94D63D !important;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart {
  margin: 1px 0;
  background: white;
  width: 320px !important;
  max-height: 90% !important;
  position: absolute;
  border-radius: 3px;
  padding: 20px;
  padding-bottom: 0px;
  right: 2px;
  z-index: 100;
  display: none;
  background-color: rgba(60, 55, 55, 0.682353);
}

.shopping-cart-content {
  max-height: 450px !important;
  overflow: scroll;
  overflow-x: hidden;
}

.shopping-cart:hover{
  background: #393939 none repeat scroll 0% 0%;
}


.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
}
.shopping-cart .shopping-cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}
.shopping-cart .shopping-cart-items .item-price {
  color:  rgb(169, 218, 54);
  margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
  color: #ABB0BE;
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #fff;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

#checkout {
  background-color: #6b6;
  border: none;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 25px 0 15px 0;
}


#checkout:hover {
  background-color: #494;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
#sticky-wrapper{
  height: 0px !important;
}

ul#cart:hover{
  cursor: pointer;  
}

ul.shopping-cart-items{
  padding-left: 2px;
  color: #fff;
  list-style: none;
}

ul#cart{
  margin-left: 15px;
}