ul.acticle{
	display: block;
	list-style-type: none;
	background-color: #F0E5CC;
	height: 300px;
	overflow: hidden;
  	padding: 10px;
}

div#mCSB_1_container > li > a{
	color: #2A9664;
	font: 15px/21px Arial,Verdana,Helvetica,sans-serif;
	transition: all 500ms ease 0s;
}

div#mCSB_1_container > li > a:hover{
	color: #C35132;
	text-decoration: none;
}

#acticle_title-icon{
	width: 25px;
	height: 25px;
}

#acticle_head{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #8C8269;
	font: 600 16px/35px sans-serif;
	color: #FFF;
	text-align:left; 
	padding-left:20px;
}

ul.acticle{
	
}