ul#vmenu{
	font-size:13px; 
	background-color:rgba(167, 239, 233, 0.35);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	min-height: 600px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #5ED1D1 !important;
    color: #fff;
}

.nav > li > a{
	font-size: 12px;
	color: #187A18;
	text-decoration: none;
	font-weight: bold;
}

ul#vmenu > li{
	line-height: 10px;
}