div.header_bar{
	width: 100%;
	line-height: 50px;
	background-color: #3c8dbc;
	height: 45px;
}

div.menu{
	position: relative;
	background-color: #1C2832;
	border-bottom-right-radius: 5px;
	height: auto;
	padding-bottom: 50px;
	color: #fff;
	padding-top: 10px;
    margin-left: 15px;
}
div#user_panel{
	margin: 0 10px 10px 10px;
	padding-top: 7px;
	padding-left: 0px;
	height: 70px;
	border-radius: 10px;
}

div#user_panel img{
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	float: left;
	display: block;
}

div#user_panel div#user_name{
	font-size: 14px;
	margin-left: 60px;
	display: block;
	line-height: 30px;
}

div#user_panel div#online{
	margin-left: 60px;
	display: block;
	font-size: 12px;
	font-weight: 600;
}

.sidebar-form{
	margin: 0 10px 10px 10px;
	color: #666;
    
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
}
.sidebar-form input.form-control{
    background-color: #374850;
    border: 1px solid transparent;
    color: #fff;
}
#search-btn{
	background-color: #374850;
}
input.form-control:focus{
	box-shadow: none;
	background-color: #fff;
	color: #625757;
}
.isfocus{
	background-color: #fff !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

div#title_dashboard{
	line-height: 40px;
	color: #4B646F;
	background: #1A2226 none repeat scroll 0% 0%;
	display: block;
	cursor: default;
	padding-left: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 20px;
}

.action{
	line-height: 50px;
	color: #b8c7ce;
	display: block;
	cursor: default;
	background-color: #1C2832;
	font-weight: 500;
	padding-left: 10px;
	border-left: 5px #1C2832 solid;
	font-family: Helvetica,Arial,sans-serif;
}

.action:hover{
	text-decoration: none !important;
	background-color: #162229 !important;
	color: #fff !important;
	cursor: pointer !important;
	border-left: 5px #3c8dbc solid !important;
}

li.act_active{
	background-color: #162229 !important;
	border-left: 5px #3c8dbc solid !important;
	color: #fff !important;
}
div#clock{
	width: 400px;
	margin: 0 auto;
	margin-right: 0px;
	font: 500 22px/50px arial;
	cursor: default;
	color: #fff;
}

span#edit_user{
	float: right;
	margin-right: 20px;
	margin-bottom: 5px;
}

span#edit_user:hover{
	cursor: pointer;
	color: white;
}

div#menu{
	padding: 0px;
	margin: 0px;
}

li#logout {
	text-decoration: none;
	display: inline;
	float: left;
	margin-right: 20px;
}

.nav a {
	color: inherit;
	padding: 0px !important;
	width: 100% !important;
	border-radius: 0px !important;
}

.nav a:hover {
	background-color: transparent !important;
	color: #fff;
}
.nav a:focus {
	background-color: #162229 !important;
}

.menu_collapse {
	line-height: 50px;
	color: #b8c7ce;
	display: block;
	cursor: default;
	background-color: #1C2832;
	font-weight: 500;
	padding-left: 10px;
	border-left: 5px transparent solid;
	font-family: Helvetica,Arial,sans-serif;
}

.menu_collapse:hover { 
	text-decoration: none !important;
	background-color: #162229 !important;
	color: #fff !important;
	cursor: pointer !important;
	border-left: 5px transparent solid !important;
}




ul.collapse li.action{
	border-left: 5px transparent solid ;
	background-color: rgba(64, 62, 66, 0.52) ;
}
ul.collapse li.action:hover{
	border-left: 5px #3c8dbc solid !important;
	background-color: #162229 !important;
}

div.panel {
	border: 0px !important;
	border-radius: 0px !important;
}

ul.collapsing li.action{
	background-color: rgba(64, 62, 66, 0.52) !important;
	border-left: 5px transparent solid !important;
	border-radius: 0px !important;
}
.menu_collapse_active{
	background-color: #0B141B   !important;
	color: #fff !important;
}
