/*========================= AVATAR  =========================*/
div#boxchoice{
	height: 298px !important;
}

div#avatar{
	width: 30%;
	height: 300px;
	/*background-color: red;*/
	float: left;
	display: block;
	border: 1px solid #C8C8C8;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
div#detail_img{
	width: 150px;
	height: 150px;
	/*background-color: red;*/
	float: left;
	display: block;
	border: 1px solid #C8C8C8;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.Choicefile
{
	display:block;
	border:1px solid #fff;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color:#fff;
	width:100%;
	height: 100%;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	position:relative;
}
.Choicefile1
{
	display:block;
	border:1px solid #fff;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color:#fff;
	width:100%;
	height: 100%;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	position:relative;
}
#uploadfile,.removeimg
{
	display:none;
}
#uploadfile1,.removeimg1
{
	display:none;
}
#thumbbox
{
	position:relative;
	width:100%;
}
#thumbbox1
{
	position:relative;
	width:100%;
}
.removeimg
{
	background:  url("../../icon/del.png")  repeat scroll 0 0 transparent;
	height: 24px;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 24px;

}
.removeimg1
{
	background:  url("../../icon/del.png")  repeat scroll 0 0 transparent;
	height: 24px;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 24px;

}


/*========================= AVATAR  =========================*/


div.wrap{
	width: 100%;
	height: 300px;
	/*background-color: green;*/
}

div#pro_name{
	width: 30%;
	height: 90px;
	display: block;
	/*background-color: yellow;*/
	float: left;
	border-top: 1px solid #C8C8C8;
	border-right: 1px solid #C8C8C8;


}

div#category{
	width: 30%;
	height: 90px;
	display: block;
	/*background-color: red;*/
	float: left;
	border-top: 1px solid #C8C8C8;
	border-right: 1px solid #C8C8C8;
	border-top-right-radius: 10px;
}
div#price{
	width: 15%;
	height: 90px;
	display: block;
	/*background-color: blue;*/
	float: left;
	border-top: 1px solid #C8C8C8;
	border-right: 1px solid #C8C8C8;
	border-bottom: 1px solid #C8C8C8;
}

div#size{
	width: 15%;
	height: 90px;
	display: block;
	/*background-color: blue;*/
	float: left;
	border-top: 1px solid #C8C8C8;
	border-right: 1px solid #C8C8C8;
	border-bottom: 1px solid #C8C8C8;
}

div#substance{
	width: 15%;
	height: 90px;
	display: block;
	/*background-color: pink;*/
	float: left;
	border-top: 1px solid #C8C8C8;
	border-right: 1px solid #C8C8C8;
	border-bottom: 1px solid #C8C8C8;
}

div#ribbon{
	width: 15%;
	height: 90px;
	display: block;
	/*background-color: pink;*/
	float: left;
	border-top: 1px solid #C8C8C8;
	border-right: 1px solid #C8C8C8;
	border-bottom: 1px solid #C8C8C8;
}

div#describe{
	width: 60%;
	height: 120px;
	display: block;
	/*background-color: orange;*/
	float: left;
	border-top: 1px solid #C8C8C8;
	border-right: 1px solid #C8C8C8;
	border-bottom-right-radius: 10px;
	border-bottom: 1px solid #C8C8C8;
}

label{
	font: 600 16px/40px sans-serif;
	padding-left: 20px;
}
input.add{
	height: 50px;
	border:none;
	border-radius: 0px;
	font-size: 15px;
}
#mota{
	border:none;
	border-radius: 0px;
	border-bottom-right-radius: 10px;
	font-size: 15px;
	box-shadow: none;
}
#cate{
	border:none;
	border-radius: 0px;
}

button#btnSubmit{
	float: right;
	margin-top:80px;
	margin-right: 120px;
	width: 150px;
	height: 40px;
}

a#cancel{
	float: right;
	margin-top:80px;
	margin-right: 30px;
	width: 150px;
	height: 40px;
}

input#input_search{
	font-size: 12px;
}
