span.icon_action{
	margin-right:10px; 
	cursor:pointer;
	font-size: 22px;
}

span.icon_action:hover{
	opacity: 0.6;
}


/*=========================================
            PAGINATION
=========================================*/
span.page_active{
	background-color: #3C8DBC !important;
	color: #fff !important;
	cursor: default;
}
ul.pagination{
	float: right;
	margin-right: 100px;
}
/*=========================================
            PAGINATION
=========================================*/

